    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
    }
    
    body {
        background: #CCC
    }
    /*  HEADER*/
    
    img {
        width: 10vw;
        height: 5vh;
        display: flex;
    }
    
    .menu {
        background-color: black;
        height: 15vh;
        display: flex;
        justify-content: center;
    }
    
    .root {
        width: 70vw;
        display: flex;
        align-items: center;
    }
    
    .col.img {
        width: 17vw;
    }
    
    .col {
        width: 10vw;
        height: 15vh;
        display: flex;
        border-right: 1px solid rgba(255, 255, 255, 0.267);
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .menu li {
        text-decoration: none;
        list-style: none;
    }
    
    .menu a {
        text-decoration: none;
        color: white;
    }
    /*  HEADER*/
    /* Side Menu */
    
    .sideMenu h1 {
        margin: 1rem;
    }
    
    .title {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    .sideMenu {
        box-sizing: border-box;
        width: 30vw;
        height: 41.83vh;
        margin: 1rem;
        padding: 0;
        float: left;
        box-shadow: 2px 5px 5px rgb(167, 167, 167);
        border-radius: 15px;
    }
    
    .sideMenu ul li {
        margin: 1rem auto;
        padding: 0px;
        border-bottom: 1px solid #CCC;
        color: black;
        text-align: left;
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    
    .sideMenu a {
        margin-left: .8rem;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        padding: 8px;
        display: block;
    }
    
    .card {
        border-top: .8rem solid gray;
        width: 70vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        background: white;
        box-shadow: 5px 5px 5px rgb(167, 167, 167);
    }
    
    .main {
        display: flex;
        height: 78vh;
        justify-content: center;
    }
    
    .main h1 {
        margin: 1rem 1.5rem;
    }
    
    .main p {
        text-align: justify;
        margin: auto 1.5rem;
    }
    
    .main button {
        background-color: rgb(197, 0, 0);
        color: white;
        width: 10vw;
        height: 5vh;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        margin: auto 1.5rem;
    }
    
    footer {
        display: flex;
        text-align-last: center;
        justify-content: center;
        font-weight: regular;
        color: rgb(77, 77, 77);
    }